<form class="registro">
    <h2>Formulario de Registro</h2>
    <div class="mb-2">
        <label for="reg-nombre" class="form-label">Nombre  </label>
        <input type="text" class="form-control" id="reg-nombre">
    </div>
    <br>    
    <div class="mb-2">
        <label for="reg-apellidos" class="form-label">Apellidos  </label>
        <input type="text" class="form-control" id="reg-apellidos">
    </div>
    <br>
    <div class="mb-2">
        <label for="reg-email" class="form-label">Dirección email  </label>
        <input type="email" class="form-control" id="reg-email">
    </div>
    <br>
    <div class="mb-2">
        <label for="reg-url" class="form-label">URL  </label>
        <input type="text" class="form-control" id="reg-url">
    </div>
    <br>
    <div class="mb-2">
        <label for="reg-password" class="form-label">Contraseña  </label>
        <input type="password" class="form-control" id="reg-password">
    </div>
    <br>
    <div class="mb-2">
        <label for="reg-password2" class="form-label">Repetir contraseña  </label>
        <input type="password" class="form-control" id="reg-password2">
    </div>
    <br>
    <div class="flex-row mt-2">
        <button type="button" class="btn btn-primary w-25">Enviar</button>
    </div>
    <br>
    <div class="flex-row mt-3">
        <button routerLink="/" type="submit" class="btn btn-warning w-25 ms-auto">Cancelar</button>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
